---
layout: default
---

<div class="post">
  <h1 class="post--title">{{ page.title }}</h2>
  {% if page.poster %}
    <img src="{{ site.baseurl }}/posters/{{ page.poster }}" alt="{{ page.postercredit }}" class="post--poster--image">
  {% endif %}
  <p class="meta">{{ page.date | date_to_string }}</p>

  {% if page.thing %}
    <link rel="stylesheet" href="/things/{{ page.thing }}/{{ page.thing }}.css">
    {% if page.deps %}
      {% for dep in page.deps %}
      <script type="text/javascript" src="/things/{{ page.thing }}/deps/{{ dep }}.js"></script>
      {% endfor %}
    {% endif %}
    <script type="text/javascript" src="/things/{{ page.thing }}/{{ page.thing }}.js"></script>
  {% endif %}

  {{ content }}

  {% if page.link %}
  <a href="{{ page.link }}">{{ page.link }}</a>
  {% endif %}

</div>